doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Purple Admin
    // plugins:css
    link(rel="stylesheet", href="./assetsd/vendors/mdi/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="./assetsd/vendors/css/vendor.bundle.base.css")
    // endinject
    // Plugin css for this page
    // End plugin css for this page
    // inject:css
    // endinject
    // Layout styles
    link(rel="stylesheet", href="./assetsd/css/style.css")
    // End layout styles
    link(rel="shortcut icon", href="./assetsd/images/favicon.ico")
  body
    .container-scroller
      #proBanner.row.p-0.m-0.proBanner
        .col-md-12.p-0.m-0
          .card-body.card-body-padding.d-flex.align-items-center.justify-content-between
            .ps-lg-1
              .d-flex.align-items-center.justify-content-between
                p.mb-0.font-weight-medium.me-3.buy-now-text Free 24/7 customer support, updates, and more with this template!
                a.btn.me-2.buy-now-btn.border-0(href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo", target="_blank") Get Pro
            .d-flex.align-items-center.justify-content-between
              a(href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/")
                i.mdi.mdi-home.me-3.text-white
              button#bannerClose.btn.border-0.p-0
                i.mdi.mdi-close.text-white.me-0
      // partial:partials/_navbar.html
      nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center
          a.navbar-brand.brand-logo(href="index.html")
            img(src="./assetsd/images/logo.svg", alt="logo")
          a.navbar-brand.brand-logo-mini(href="index.html")
            img(src="./assetsd/images/logo-mini.svg", alt="logo")
        .navbar-menu-wrapper.d-flex.align-items-stretch
          button.navbar-toggler.navbar-toggler.align-self-center(type="button", data-toggle="minimize")
            span.mdi.mdi-menu
          .search-field.d-none.d-md-block
            form.d-flex.align-items-center.h-100(action="#")
              .input-group
                .input-group-prepend.bg-transparent
                  i.input-group-text.border-0.mdi.mdi-magnify
                input.form-control.bg-transparent.border-0(type="text", placeholder="Search projects")
          ul.navbar-nav.navbar-nav-right
            li.nav-item.nav-profile.dropdown
              a#profileDropdown.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown", aria-expanded="false")
                .nav-profile-img
                  img(src="./assetsd/images/faces/face1.jpg", alt="image")
                  span.availability-status.online
                .nav-profile-text
                  p.mb-1.text-black David Greymaax
              .dropdown-menu.navbar-dropdown(aria-labelledby="profileDropdown")
                a.dropdown-item(href="#")
                  i.mdi.mdi-cached.me-2.text-success
                  | Activity Log
                .dropdown-divider
                a.dropdown-item(href="#")
                  i.mdi.mdi-logout.me-2.text-primary
                  | Signout
            li.nav-item.d-none.d-lg-block.full-screen-link
              a.nav-link
                i#fullscreen-button.mdi.mdi-fullscreen
            li.nav-item.dropdown
              a#messageDropdown.nav-link.count-indicator.dropdown-toggle(href="#", data-bs-toggle="dropdown", aria-expanded="false")
                i.mdi.mdi-email-outline
                span.count-symbol.bg-warning
              .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list(aria-labelledby="messageDropdown")
                h6.p-3.mb-0 Messages
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="./assetsd/images/faces/face4.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Mark send you a message
                    p.text-gray.mb-0  1 Minutes ago 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="./assetsd/images/faces/face2.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Cregh send you a message
                    p.text-gray.mb-0  15 Minutes ago 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="./assetsd/images/faces/face3.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Profile picture updated
                    p.text-gray.mb-0  18 Minutes ago 
                .dropdown-divider
                h6.p-3.mb-0.text-center 4 new messages
            li.nav-item.dropdown
              a#notificationDropdown.nav-link.count-indicator.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                i.mdi.mdi-bell-outline
                span.count-symbol.bg-danger
              .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list(aria-labelledby="notificationDropdown")
                h6.p-3.mb-0 Notifications
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-success
                      i.mdi.mdi-calendar
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Event today
                    p.text-gray.ellipsis.mb-0  Just a reminder that you have an event today 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-warning
                      i.mdi.mdi-settings
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Settings
                    p.text-gray.ellipsis.mb-0  Update dashboard 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-info
                      i.mdi.mdi-link-variant
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Launch Admin
                    p.text-gray.ellipsis.mb-0  New admin wow! 
                .dropdown-divider
                h6.p-3.mb-0.text-center See all notifications
            li.nav-item.nav-logout.d-none.d-lg-block
              a.nav-link(href="#")
                i.mdi.mdi-power
            li.nav-item.nav-settings.d-none.d-lg-block
              a.nav-link(href="#")
                i.mdi.mdi-format-line-spacing
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type="button", data-toggle="offcanvas")
            span.mdi.mdi-menu
      // partial
      .container-fluid.page-body-wrapper
        // partial:partials/_sidebar.html
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item.nav-profile
              a.nav-link(href="#")
                .nav-profile-image
                  img(src="./assetsd/images/faces/face1.jpg", alt="profile")
                  span.login-status.online
                  // change to offline or busy as needed
                .nav-profile-text.d-flex.flex-column
                  span.font-weight-bold.mb-2 David Grey. H
                  span.text-secondary.text-small Project Manager
                i.mdi.mdi-bookmark-check.text-success.nav-profile-badge
            li.nav-item
              a.nav-link(href="index.html")
                span.menu-title Dashboard
                i.mdi.mdi-home.menu-icon
            li.nav-item
              a.nav-link(data-bs-toggle="collapse", href="#ui-basic", aria-expanded="false", aria-controls="ui-basic")
                span.menu-title Basic UI Elements
                i.menu-arrow
                i.mdi.mdi-crosshairs-gps.menu-icon
              #ui-basic.collapse
                ul.nav.flex-column.sub-menu
                  li.nav-item
                    a.nav-link(href="pages/ui-features/buttons.html") Buttons
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Typography
            li.nav-item
              a.nav-link(href="pages/icons/mdi.html")
                span.menu-title Icons
                i.mdi.mdi-contacts.menu-icon
            li.nav-item
              a.nav-link(href="pages/forms/basic_elements.html")
                span.menu-title Forms
                i.mdi.mdi-format-list-bulleted.menu-icon
            li.nav-item
              a.nav-link(href="pages/charts/chartjs.html")
                span.menu-title Charts
                i.mdi.mdi-chart-bar.menu-icon
            li.nav-item
              a.nav-link(href="pages/tables/basic-table.html")
                span.menu-title Tables
                i.mdi.mdi-table-large.menu-icon
            li.nav-item
              a.nav-link(data-bs-toggle="collapse", href="#general-pages", aria-expanded="false", aria-controls="general-pages")
                span.menu-title Sample Pages
                i.menu-arrow
                i.mdi.mdi-medical-bag.menu-icon
              #general-pages.collapse
                ul.nav.flex-column.sub-menu
                  li.nav-item
                    a.nav-link(href="pages/samples/blank-page.html")  Blank Page 
                  li.nav-item
                    a.nav-link(href="pages/samples/login.html")  Login 
                  li.nav-item
                    a.nav-link(href="pages/samples/register.html")  Register 
                  li.nav-item
                    a.nav-link(href="pages/samples/error-404.html")  404 
                  li.nav-item
                    a.nav-link(href="pages/samples/error-500.html")  500 
            li.nav-item.sidebar-actions
              span.nav-link
                .border-bottom
                  h6.font-weight-normal.mb-3 Projects
                button.btn.btn-block.btn-lg.btn-gradient-primary.mt-4 + Add a project
                .mt-4
                  .border-bottom
                    p.text-secondary Categories
                  ul.gradient-bullet-list.mt-4
                    li Free
                    li Pro
        // partial
        .main-panel
          .content-wrapper
            .page-header
              h3.page-title
                span.page-title-icon.bg-gradient-primary.text-white.me-2
                  i.mdi.mdi-home
                | Dashboard
              nav(aria-label="breadcrumb")
                ul.breadcrumb
                  li.breadcrumb-item.active(aria-current="page")
                    span
                    | Overview
                    i.mdi.mdi-alert-circle-outline.icon-sm.text-primary.align-middle
            .row
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-danger.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="./assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Weekly Sales 
                      i.mdi.mdi-chart-line.mdi-24px.float-right
                    h2.mb-5 $ 15,0000
                    h6.card-text Increased by 60%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-info.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="./assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Weekly Orders 
                      i.mdi.mdi-bookmark-outline.mdi-24px.float-right
                    h2.mb-5 45,6334
                    h6.card-text Decreased by 10%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-success.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="./assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Visitors Online 
                      i.mdi.mdi-diamond.mdi-24px.float-right
                    h2.mb-5 95,5741
                    h6.card-text Increased by 5%
            .row
              .col-md-7.grid-margin.stretch-card
                .card
                  .card-body
                    .clearfix
                      h4.card-title.float-left Visit And Sales Statistics
                      #visit-sale-chart-legend.rounded-legend.legend-horizontal.legend-top-right.float-right
                    canvas#visit-sale-chart.mt-4
              .col-md-5.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Traffic Sources
                    canvas#traffic-chart
                    #traffic-chart-legend.rounded-legend.legend-vertical.legend-bottom-left.pt-4
            .row
              .col-12.grid-margin
                .card
                  .card-body
                    h4.card-title Recent Tickets
                    .table-responsive
                      table.table
                        thead
                          tr
                            th  Assignee 
                            th  Subject 
                            th  Status 
                            th  Last Update 
                            th  Tracking ID 
                        tbody
                          tr
                            td
                              img.me-2(src="./assetsd/images/faces/face1.jpg", alt="image")
                              | David Grey
                            td  Fund is not recieved 
                            td
                              label.badge.badge-gradient-success DONE
                            td  Dec 5, 2017 
                            td  WD-12345 
                          tr
                            td
                              img.me-2(src="./assetsd/images/faces/face2.jpg", alt="image")
                              | Stella Johnson
                            td  High loading time 
                            td
                              label.badge.badge-gradient-warning PROGRESS
                            td  Dec 12, 2017 
                            td  WD-12346 
                          tr
                            td
                              img.me-2(src="./assetsd/images/faces/face3.jpg", alt="image")
                              | Marina Michel
                            td  Website down for one week 
                            td
                              label.badge.badge-gradient-info ON HOLD
                            td  Dec 16, 2017 
                            td  WD-12347 
                          tr
                            td
                              img.me-2(src="./assetsd/images/faces/face4.jpg", alt="image")
                              | John Doe
                            td  Loosing control on server 
                            td
                              label.badge.badge-gradient-danger REJECTED
                            td  Dec 3, 2017 
                            td  WD-12348 
            .row
              .col-12.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Recent Updates
                    .d-flex
                      .d-flex.align-items-center.me-4.text-muted.font-weight-light
                        i.mdi.mdi-account-outline.icon-sm.me-2
                        span jack Menqu
                      .d-flex.align-items-center.text-muted.font-weight-light
                        i.mdi.mdi-clock.icon-sm.me-2
                        span October 3rd, 2018
                    .row.mt-3
                      .col-6.pe-1
                        img.mb-2.mw-100.w-100.rounded(src="./assetsd/images/dashboard/img_1.jpg", alt="image")
                        img.mw-100.w-100.rounded(src="./assetsd/images/dashboard/img_4.jpg", alt="image")
                      .col-6.ps-1
                        img.mb-2.mw-100.w-100.rounded(src="./assetsd/images/dashboard/img_2.jpg", alt="image")
                        img.mw-100.w-100.rounded(src="./assetsd/images/dashboard/img_3.jpg", alt="image")
                    .d-flex.mt-5.align-items-top
                      img.img-sm.rounded-circle.me-3(src="./assetsd/images/faces/face3.jpg", alt="image")
                      .mb-0.flex-grow
                        h5.me-2.mb-2 School Website - Authentication Module.
                        p.mb-0.font-weight-light It is a long established fact that a reader will be distracted by the readable content of a page.
                      .ms-auto
                        i.mdi.mdi-heart-outline.text-muted
            .row
              .col-md-7.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title Project Status
                    .table-responsive
                      table.table
                        thead
                          tr
                            th  # 
                            th  Name 
                            th  Due Date 
                            th  Progress 
                        tbody
                          tr
                            td  1 
                            td  Herman Beck 
                            td  May 15, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-success(role="progressbar", style="width: 25%", aria-valuenow="25", aria-valuemin="0", aria-valuemax="100")
                          tr
                            td  2 
                            td  Messsy Adam 
                            td  Jul 01, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-danger(role="progressbar", style="width: 75%", aria-valuenow="75", aria-valuemin="0", aria-valuemax="100")
                          tr
                            td  3 
                            td  John Richards 
                            td  Apr 12, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-warning(role="progressbar", style="width: 90%", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100")
                          tr
                            td  4 
                            td  Peter Meggik 
                            td  May 15, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-primary(role="progressbar", style="width: 50%", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100")
                          tr
                            td  5 
                            td  Edward 
                            td  May 03, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-danger(role="progressbar", style="width: 35%", aria-valuenow="35", aria-valuemin="0", aria-valuemax="100")
                          tr
                            td  5 
                            td  Ronald 
                            td  Jun 05, 2015 
                            td
                              .progress
                                .progress-bar.bg-gradient-info(role="progressbar", style="width: 65%", aria-valuenow="65", aria-valuemin="0", aria-valuemax="100")
              .col-md-5.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title.text-white Todo
                    .add-items.d-flex
                      input.form-control.todo-list-input(type="text", placeholder="What do you need to do today?")
                      button#add-task.add.btn.btn-gradient-primary.font-weight-bold.todo-list-add-btn Add
                    .list-wrapper
                      ul.d-flex.flex-column-reverse.todo-list.todo-list-custom
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Meeting with Alisa
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Call John
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Create invoice
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Print Statements
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Prepare for presentation
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Pick up kids from school
                          i.remove.mdi.mdi-close-circle-outline
          // content-wrapper ends
          // partial:partials/_footer.html
          footer.footer
            .container-fluid.d-flex.justify-content-between
              span.text-muted.d-block.text-center.text-sm-start.d-sm-inline-block Copyright © bootstrapdash.com 2021
              span.float-none.float-sm-end.mt-1.mt-sm-0.text-end  Free 
                a(href="https://www.bootstrapdash.com/bootstrap-admin-template/", target="_blank") Bootstrap admin template
                | from Bootstrapdash.com
          // partial
        // main-panel ends
      // page-body-wrapper ends
    // container-scroller
    // plugins:js
    script(src="./assetsd/vendors/js/vendor.bundle.base.js")
    // endinject
    // Plugin js for this page
    script(src="./assetsd/vendors/chart.js/Chart.min.js")
    script(src="./assetsd/js/jquery.cookie.js", type="text/javascript")
    // End plugin js for this page
    // inject:js
    script(src="./assetsd/js/off-canvas.js")
    script(src="./assetsd/js/hoverable-collapse.js")
    script(src="./assetsd/js/misc.js")
    // endinject
    // Custom js for this page
    script(src="./assetsd/js/dashboard.js")
    script(src="./assetsd/js/todolist.js")
    // End custom js for this page
