doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Purple Admin
    // plugins:css
    link(rel="stylesheet", href="../assetsd/vendors/mdi/css/materialdesignicons.min.css")
    link(rel="stylesheet", href="../assetsd/vendors/css/vendor.bundle.base.css")
    // endinject
    // Plugin css for this page
    // End plugin css for this page
    // inject:css
    // endinject
    // Layout styles
    link(rel="stylesheet", href="../assetsd/css/style.css")
    // End layout styles
    link(rel="shortcut icon", href="../assetsd/images/favicon.ico")
  body
    .container-scroller
      
      // partial:partials/_navbar.html
      nav.navbar.default-layout-navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
        .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center
          a.navbar-brand.brand-logo(href="#")
            b NOTIFY
          a.navbar-brand.brand-logo-mini(href="#")
            b N
        .navbar-menu-wrapper.d-flex.align-items-stretch
          button.navbar-toggler.navbar-toggler.align-self-center(type="button", data-toggle="minimize")
            span.mdi.mdi-menu
          .search-field.d-none.d-md-block
            form.d-flex.align-items-center.h-100(action="#")
              .input-group
                .input-group-prepend.bg-transparent
                  i.input-group-text.border-0.mdi.mdi-magnify
                input.form-control.bg-transparent.border-0(type="text", placeholder="Search projects")
          ul.navbar-nav.navbar-nav-right
            li.nav-item.nav-profile.dropdown
              a#profileDropdown.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown", aria-expanded="false")
                .nav-profile-img
                  img(src="../assetsd/images/faces/face1.jpg", alt="image")
                  span.availability-status.online
                .nav-profile-text
                  p.mb-1.text-black
                    =name
              .dropdown-menu.navbar-dropdown(aria-labelledby="profileDropdown")
               
                .dropdown-divider
                a.dropdown-item(href="#")
                  i.mdi.mdi-logout.me-2.text-primary
                  | Signout
            li.nav-item.d-none.d-lg-block.full-screen-link
              a.nav-link
                i#fullscreen-button.mdi.mdi-fullscreen
            li.nav-item.dropdown
              a#messageDropdown.nav-link.count-indicator.dropdown-toggle(href="#", data-bs-toggle="dropdown", aria-expanded="false")
                i.mdi.mdi-email-outline
                span.count-symbol.bg-warning
              .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list(aria-labelledby="messageDropdown")
                h6.p-3.mb-0 Messages
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="../assetsd/images/faces/face4.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Mark send you a message
                    p.text-gray.mb-0  1 Minutes ago 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="../assetsd/images/faces/face2.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Cregh send you a message
                    p.text-gray.mb-0  15 Minutes ago 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    img.profile-pic(src="../assetsd/images/faces/face3.jpg", alt="image")
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.ellipsis.mb-1.font-weight-normal Profile picture updated
                    p.text-gray.mb-0  18 Minutes ago 
                .dropdown-divider
                h6.p-3.mb-0.text-center 4 new messages
            li.nav-item.dropdown
              a#notificationDropdown.nav-link.count-indicator.dropdown-toggle(href="#", data-bs-toggle="dropdown")
                i.mdi.mdi-bell-outline
                span.count-symbol.bg-danger
              .dropdown-menu.dropdown-menu-right.navbar-dropdown.preview-list(aria-labelledby="notificationDropdown")
                h6.p-3.mb-0 Notifications
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-success
                      i.mdi.mdi-calendar
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Event today
                    p.text-gray.ellipsis.mb-0  Just a reminder that you have an event today 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-warning
                      i.mdi.mdi-settings
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Settings
                    p.text-gray.ellipsis.mb-0  Update dashboard 
                .dropdown-divider
                a.dropdown-item.preview-item
                  .preview-thumbnail
                    .preview-icon.bg-info
                      i.mdi.mdi-link-variant
                  .preview-item-content.d-flex.align-items-start.flex-column.justify-content-center
                    h6.preview-subject.font-weight-normal.mb-1 Launch Admin
                    p.text-gray.ellipsis.mb-0  New admin wow! 
                .dropdown-divider
                h6.p-3.mb-0.text-center See all notifications
            li.nav-item.nav-logout.d-none.d-lg-block
              a.nav-link(href="#")
                i.mdi.mdi-power
            li.nav-item.nav-settings.d-none.d-lg-block
              a.nav-link(href="#")
                i.mdi.mdi-format-line-spacing
          button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type="button", data-toggle="offcanvas")
            span.mdi.mdi-menu
      // partial
      .container-fluid.page-body-wrapper
        // partial:partials/_sidebar.html
        nav#sidebar.sidebar.sidebar-offcanvas
          ul.nav
            li.nav-item.nav-profile
              a.nav-link(href="#")
                .nav-profile-image
                  img(src="../assetsd/images/faces/face1.jpg", alt="profile")
                  span.login-status.online
                  // change to offline or busy as needed
                .nav-profile-text.d-flex.flex-column
                  span.font-weight-bold.mb-2
                    =username
                  span.text-secondary.text-small
                    =acc_type
                i.mdi.mdi-bookmark-check.text-success.nav-profile-badge
            li.nav-item
              a.nav-link(href="index.html")
                span.menu-title Dashboard
                i.mdi.mdi-home.menu-icon
            li.nav-item
              a.nav-link(data-bs-toggle="collapse", href="#ui-basic", aria-expanded="false", aria-controls="ui-basic")
                span.menu-title Main Tools
                i.menu-arrow
                i.mdi.mdi-crosshairs-gps.menu-icon
              #ui-basic.collapse
                ul.nav.flex-column.sub-menu
                  li.nav-item
                    a.nav-link(href="pages/ui-features/buttons.html") Send SMS
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Send Email
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Customize Mail Template
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Add Email/SMS To List
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Schedule Mail
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Schedule SMS
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Sent Mails
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Sent SMS
                  li.nav-item
                    a.nav-link(href="pages/ui-features/typography.html") Analytics
                            
            li.nav-item
              a.nav-link(href="pages/icons/mdi.html")
                span.menu-title Profile
                i.mdi.mdi-contacts.menu-icon
            li.nav-item
              a.nav-link(href="pages/forms/basic_elements.html")
                span.menu-title Buy Email/SMS Unit
                i.mdi.mdi-format-list-bulleted.menu-icon
            li.nav-item
              a.nav-link(href="pages/charts/chartjs.html")
                span.menu-title Hire US
                i.mdi.mdi-chart-bar.menu-icon
            li.nav-item
              a.nav-link(href="pages/tables/basic-table.html")
                span.menu-title Contact US
                i.mdi.mdi-table-large.menu-icon
            li.nav-item
              a.nav-link(data-bs-toggle="collapse", href="#general-pages", aria-expanded="false", aria-controls="general-pages")
                span.menu-title Logout
                i.menu-arrow
                i.mdi.mdi-medical-bag.menu-icon
              
        // partial
        .main-panel
          .content-wrapper
            .page-header
              h3.page-title
                span.page-title-icon.bg-gradient-primary.text-white.me-2
                  i.mdi.mdi-home
                | Dashboard
              nav(aria-label="breadcrumb")
                ul.breadcrumb
                  li.breadcrumb-item.active(aria-current="page")
                    span
                    | Overview
                    i.mdi.mdi-alert-circle-outline.icon-sm.text-primary.align-middle
            .row
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-info.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Subscribed Emails 
                      i.mdi.mdi-email.mdi-24px.float-right
                    h2.mb-5 $ 15,0000
                    h6.card-text Increased by 60%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-info.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Subscribed Numbers
                      i.mdi.mdi-phone.mdi-24px.float-right
                    h2.mb-5 45,6334
                    h6.card-text Decreased by 10%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-primary.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Mail/SMS Units 
                      i.mdi.mdi-diamond.mdi-24px.float-right
                    h2.mb-5 95,5741
                    h6.card-text Increased by 5%

            .row
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-success.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Sent Mails 
                      i.mdi.mdi-email.mdi-24px.float-right
                    h2.mb-5 $ 15,0000
                    h6.card-text Increased by 60%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-success.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Sent SMS
                      i.mdi.mdi-phone.mdi-24px.float-right
                    h2.mb-5 45,6334
                    h6.card-text Decreased by 10%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-warning.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Accumulated Revenue 
                      i.mdi.mdi-diamond.mdi-24px.float-right
                    h2.mb-5 95,5741
                    h6.card-text Increased by 5%        

            .row
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-danger.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Scheduled mails 
                      i.mdi.mdi-timer.mdi-24px.float-right
                    h2.mb-5 $ 15,0000
                    h6.card-text Increased by 60%
              .col-md-4.stretch-card.grid-margin
                .card.bg-gradient-danger.card-img-holder.text-white
                  .card-body
                    img.card-img-absolute(src="../assetsd/images/dashboard/circle.svg", alt="circle-image")
                    h4.font-weight-normal.mb-3 Scheduled SMS
                      i.mdi.mdi-timer.mdi-24px.float-right
                    h2.mb-5 45,6334
                    h6.card-text Decreased by 10%
              
           
            .row  
              .col-md-5.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title.text-dark Add Number To List
                    .add-items.d-flex
                      input.form-control.todo-list-input(type="text", placeholder="What do you need to do today?")
                      button#add-task.add.btn.btn-gradient-primary.font-weight-bold.todo-list-add-btn Add
                    .list-wrapper
                      ul.d-flex.flex-column-reverse.todo-list.todo-list-custom
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Meeting with Alisa
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Call John
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Create invoice
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Print Statements
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Prepare for presentation
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Pick up kids from school
                          i.remove.mdi.mdi-close-circle-outline


                           .row  
              .col-md-5.grid-margin.stretch-card
                .card
                  .card-body
                    h4.card-title.text-dark Add email list
                    .add-items.d-flex
                      input.form-control.todo-list-input(type="text", placeholder="What do you need to do today?")
                      button#add-task.add.btn.btn-gradient-primary.font-weight-bold.todo-list-add-btn Add
                    .list-wrapper
                      ul.d-flex.flex-column-reverse.todo-list.todo-list-custom
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Meeting with Alisa
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Call John
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Create invoice
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Print Statements
                          i.remove.mdi.mdi-close-circle-outline
                        li.completed
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox", checked)
                              | Prepare for presentation
                          i.remove.mdi.mdi-close-circle-outline
                        li
                          .form-check
                            label.form-check-label
                              input.checkbox(type="checkbox")
                              | Pick up kids from school
                          i.remove.mdi.mdi-close-circle-outline


               
          // content-wrapper ends
          // partial:partials/_footer.html
          footer.footer
            .container-fluid.d-flex.justify-content-between
              span.text-muted.d-block.text-center.text-sm-start.d-sm-inline-block Copyright © Notifyus.tech 2024
              span.float-none.float-sm-end.mt-1.mt-sm-0.text-end  Free 
                //- a(href="https://www.bootstrapdash.com/bootstrap-admin-template/", target="_blank") Bootstrap admin template
                //- | from Bootstrapdash.com
          // partial
        // main-panel ends
      // page-body-wrapper ends
    // container-scroller
    // plugins:js
    script(src="../assetsd/vendors/js/vendor.bundle.base.js")
    // endinject
    // Plugin js for this page
    script(src="../assetsd/vendors/chart.js/Chart.min.js")
    script(src="../assetsd/js/jquery.cookie.js", type="text/javascript")
    // End plugin js for this page
    // inject:js
    script(src="../assetsd/js/off-canvas.js")
    script(src="../assetsd/js/hoverable-collapse.js")
    script(src="../assetsd/js/misc.js")
    // endinject
    // Custom js for this page
    script(src="../assetsd/js/dashboard.js")
    script(src="../assetsd/js/todolist.js")
    // End custom js for this page
