doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
    title NOTIFY
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(rel="icon", href="assets/images/notify.png")
    // Additional CSS Files
    link(rel="stylesheet", href="assets/css/fontawesome.css")
    link(rel="stylesheet", href="assets/css/templatemo-seo-dream.css")
    link(rel="stylesheet", href="assets/css/animated.css")
    link(rel="stylesheet", href="assets/css/owl.css")
  body
    // ***** Header Area Start *****
    header.header-area.header-sticky.wow.slideInDown(data-wow-duration="0.75s", data-wow-delay="0s")
      .container
        .row
          .col-12
            nav.main-nav
              // ***** Logo Start *****
              a.logo(href="#")
                h4.text-uppercase Noti
                  span(style="color:red;") fy 
              // ***** Logo End *****
              // ***** Menu Start *****
              ul.nav
                li(class='')
                  a.active(href="/") Home
                li(class='')
                  a(href="#school") Schools
                li(class='')
                  a(href="#association") Association
                li(class='')
                  a(href="#business") Business
                li(class='')
                  a(href="#developer") Web-developer
                li(class='')
                  a(href="#others") General public
                li(class='')
                  .main-blue-button
                    a(href="/login") Login
              a.menu-trigger
                span Menu
              // ***** Menu End *****
    // ***** Header Area End *****
    #school
    #features.features.section
      .text-center.text-uppercase.fw-bolder.display-7 schools/institutions
      br
      br
      br
      .container
        .row
          .col-lg-12
            .features-content
              .row
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
                    .first-number.number
                      h6 01
                    .icon
                    h4 Sign Up
                    .line-dec
                    p The person with the valid class or school info signs up – simple as that!
                .col-lg-3
                  .features-item.second-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
                    .second-number.number
                      h6 02
                    .icon
                    h4 Create Channel
                    .line-dec
                    p Next, create a notification channel by naming it and securing your unique page and URL.
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
                    .third-number.number
                      h6 03
                    .icon
                    h4 Invite Students
                    .line-dec
                    p Share your channel link and let students subscribe their phone numbers for notifications
                .col-lg-3
                  .features-item.second-feature.last-features-item.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
                    .fourth-number.number
                      h6 04
                    .icon
                    h4 Notify Students
                    .line-dec
                    p Easily send bulk notifications to all subscribed students with just a click of a button!
              center
                a.btn.btn-primary(href="/register") Sign-Up
          .col-lg-12
            .skills-content
              .row
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Sign-up
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.2s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Channel
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span invites
                .col-lg-3
                  .skill-item.last-skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.6s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span send notification
    #association
    #features.features.section
      .text-center.text-uppercase.fw-bolder.display-7 Association/Organization
      br
      br
      br
      .container
        .row
          .col-lg-12
            .features-content
              .row
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
                    .first-number.number
                      h6 01
                    .icon
                    h4 Sign Up
                    .line-dec
                    p The one with the essential info for the association or organization signs up – it&apos;s as simple as that!
                .col-lg-3
                  .features-item.second-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
                    .second-number.number
                      h6 02
                    .icon
                    h4 Create Channel
                    .line-dec
                    p Create your notification channel by providing a name and securing a unique page and URL for your organization or association.
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
                    .third-number.number
                      h6 03
                    .icon
                    h4 Invite Members
                    .line-dec
                    p Share your channel link and have members subscribe their phone numbers/email address for notifications within your association or organization.
                .col-lg-3
                  .features-item.second-feature.last-features-item.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
                    .fourth-number.number
                      h6 04
                    .icon
                    h4 Notify Members
                    .line-dec
                    p Effortlessly send bulk notifications to all subscribed members with a simple click of a button!
              center
                a.btn.btn-primary(href="/register") Sign-Up
          .col-lg-12
            .skills-content
              .row
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Sign-up
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.2s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Channel
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span invites
                .col-lg-3
                  .skill-item.last-skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.6s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.bg-success
                      span.progress-right
                        span.progress-bar.bg-danger
                      .progress-value.text-light(style="z-index: 1000;")
                        div
                          | Free
                          br
                          span send notification
    #business
    #features.features.section
      .text-center.text-uppercase.fw-bolder.display-7 Businesses
      br
      br
      br
      .container
        .row
          .col-lg-12
            .features-content
              .row
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
                    .first-number.number
                      h6 01
                    .icon
                    h4 Sign Up
                    .line-dec
                    p The business owner signs up, whether for essential information or to reach out to customers, inform them, and share enticing offers – it&apos;s as simple as that!
                .col-lg-3
                  .features-item.second-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
                    .second-number.number
                      h6 02
                    .icon
                    h4 Create Channel
                    .line-dec
                    p Create your business notification channel by choosing a name and securing a unique page and URL for your business.
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
                    .third-number.number
                      h6 03
                    .icon
                    h4 Contact List
                    .line-dec
                    p Build your contact list: Add customer phone numbers and emails, or share your channel link to invite them to subscribe for updates.
                .col-lg-3
                  .features-item.second-feature.last-features-item.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
                    .fourth-number.number
                      h6 04
                    .icon
                    h4 Notify Customers
                    .line-dec
                    p Easily send bulk notifications to subscribed customers and from your contact/mailing list with just a click!
              center
                a.btn.btn-primary(href="/register") Sign-Up
          .col-lg-12
            .skills-content
              .row
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Sign-up
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.2s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Channel
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span invites
                .col-lg-3
                  .skill-item.last-skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.6s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.bg-danger
                      span.progress-right
                        span.progress-bar.bg-danger
                      .progress-value.text-light(style="z-index: 1000;")
                        div
                          | Paid
                          br
                          span send notification
    #developer
    #features.features.section
      .text-center.text-uppercase.fw-bolder.display-7 Web-developer
      br
      br
      br
      .container
        .row
          .col-lg-12
            .features-content
              .row
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
                    .first-number.number
                      h6 01
                    .icon
                    h4 Sign Up
                    .line-dec
                    p Register as a web developer
                .col-lg-3
                  .features-item.second-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
                    .second-number.number
                      h6 02
                    .icon
                    h4 API Key
                    .line-dec
                    p Acquire your API key, which will give you access to use our services for sending sms and email
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
                    .third-number.number
                      h6 03
                    .icon
                    h4 Integration
                    .line-dec
                    p Integrate our services into your website, its easy and pretty straight forward..
                .col-lg-3
                  .features-item.second-feature.last-features-item.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
                    .fourth-number.number
                      h6 04
                    .icon
                    h4 Send SMS/Mails
                    .line-dec
                    p Easily send SMS,mails from your websites using your API key.
              center
                a.btn.btn-primary(href="/register") Sign-Up
          .col-lg-12
            .skills-content
              .row
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Sign-up
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.2s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.bg-danger
                      span.progress-right
                        span.progress-bar.bg-danger
                      .progress-value.text-light(style="z-index: 1000;")
                        div
                          | Paid
                          br
                          span API Key
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span invites
                .col-lg-3
                  .skill-item.last-skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.6s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.bg-danger
                      span.progress-right
                        span.progress-bar.bg-danger
                      .progress-value.text-light(style="z-index: 1000;")
                        div
                          | Paid
                          br
                          span send notification
    #others
    #features.features.section
      .text-center.text-uppercase.fw-bolder.display-7 Others
      br
      br
      br
      .container
        .row
          .col-lg-12
            .features-content
              .row
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0s")
                    .first-number.number
                      h6 01
                    .icon
                    h4 Sign Up
                    .line-dec
                    p Select account type &quot;Others&quot;
                .col-lg-3
                  .features-item.second-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.2s")
                    .second-number.number
                      h6 02
                    .icon
                    h4 Create channel
                    .line-dec
                    p This is optional for you, as you main aim is to send SMS or emails ..
                .col-lg-3
                  .features-item.first-feature.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.4s")
                    .third-number.number
                      h6 03
                    .icon
                    h4 Contact List
                    .line-dec
                    p Create a contact list, to aid messaging more easier. This is optional.. you can do it manually as well.. your choice😎
                .col-lg-3
                  .features-item.second-feature.last-features-item.wow.fadeInUp(data-wow-duration="1s", data-wow-delay="0.6s")
                    .fourth-number.number
                      h6 04
                    .icon
                    h4 Send SMS/Mails
                    .line-dec
                    p Easily send SMS at 3.6 naira if its 1, 3.4 naira if more than 3, and emails at 1 naira per mail.
              center
                a.btn.btn-primary(href="/register") Sign-Up
          .col-lg-12
            .skills-content
              .row
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span Sign-up
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.2s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.
                      span.progress-right
                        span.progress-bar.
                      .progress-value
                        div
                          | Free
                          br
                          span Channel
                .col-lg-3
                  .skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.4s")
                    .progress(data-percentage="90")
                      span.progress-left
                        span.progress-bar
                      span.progress-right
                        span.progress-bar
                      .progress-value
                        div
                          | Free
                          br
                          span invites
                .col-lg-3
                  .skill-item.last-skill-item.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.6s")
                    .progress(data-percentage="100")
                      span.progress-left
                        span.progress-bar.bg-danger
                      span.progress-right
                        span.progress-bar.bg-danger
                      .progress-value.text-light(style="z-index: 1000;")
                        div
                          | Paid
                          br
                          span send notification
    footer
      .container
        .row
          .col-lg-12.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0.25s")
            p
              | © Copyright 2021 Notify. All Rights Reserved.
              // <br>Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a>
    // Scripts
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="assets/js/owl-carousel.js")
    script(src="assets/js/animation.js")
    script(src="assets/js/imagesloaded.js")
    script(src="assets/js/templatemo-custom.js")
